.image1Icon,
.image2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image1Icon {
  top: 34px;
  left: 58px;
  width: 132px;
  height: 74.61px;
}

.header {
  position: absolute;
  top: calc(50% - 364px);
  left: calc(50% - 450px);
  width: 1000px;
  height: 150px;
  overflow: hidden;
}

.image3Icon,
.image4Icon {
  position: absolute;
  top: 2px;
  left: 58px;
  border-radius: var(--br-xs) 0 0 var(--br-xs);
  width: 346px;
  height: 475px;
  object-fit: cover;
}

.image4Icon {
  left: 403px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  width: 479px;
}

.loginButtonChild {
  position: absolute;
  top: calc(50% - 16.5px);
  left: calc(50% - 99.5px);
  border-radius: 8px;
  width: 200px;
  height: 40px;
}

.logIn {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 24.5px);
  -webkit-text-stroke: 0.5px #f5f5f5;
}

.loginButton {
  position: absolute;
  top: calc(50% + 61px);
  left: calc(50% - 97px);
  border-radius: var(--br-xs);
  width: 199px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
  /* add cursor pointer */
}

.image5Icon {
  position: absolute;
  top: 14px;
  left: 214px;
  border-radius: 100px;
  width: 40px;
  height: 31px;
  object-fit: cover;
}

.passwordChild {
  position: absolute;
  top: 50.5px;
  left: -1.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 251px;
  height: 1px;
}

.passwordInput {
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  height: 39px;
  border: none;
  background: transparent;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  outline: none;
}

.enterYourPassword {
  position: absolute;
  top: 4px;
  left: -1px;
  font-size: var(--font-size-sm);
}

.password {
  position: absolute;
  top: 117px;
  left: 6px;
  width: 249px;
  height: 56px;
  overflow: hidden;
  font-size: 12px;
}

.passwordEyeIcon {
  position: absolute;
  top: 18px;
  right: 0;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.emailChild,
.enterYourEMail {
  position: absolute;
  top: 0;
  left: 2px;
}

.emailChild {
  top: 46.5px;
  left: 1.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 251px;
  height: 1px;
  margin-top: 2px;
}

.emailInput {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 38px;
  border: none;
  background: transparent;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  outline: none;
}

.email {
  position: absolute;
  top: 36px;
  left: 6px;
  width: 252px;
  height: 58px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}

.createAnAccount1 {
  text-decoration: underline;
}

.createAnAccount {
  color: inherit;
}

.loginDemoOrContainer {
  position: absolute;
  top: 11px;
  left: 28px;
  display: inline-block;
  width: 237px;
  height: 20px;
}

.loginDemoOrCreateAnAccounWrapper {
  position: absolute;
  top: 240px;
  left: -5px;
  width: 293px;
  height: 83px;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  color: inherit;
}

.form,
.welcome {
  position: absolute;
}

.form {
  top: calc(50% - 99.5px);
  left: calc(50% - 400px);
  width: 270px;
  height: 306px;
  overflow: hidden;
}

.welcome {
  top: 13px;
  left: 20px;
  display: inline-block;
  width: 156px;
  height: 44px;
}

.dualnetClient {
  position: absolute;
  top: 67px;
  left: 36px;
  font-size: 18px;
  color: var(--color-white);
  -webkit-text-stroke: 0.5px #fff;
}

.title {
  position: absolute;
  top: calc(50% - 205.5px);
  left: calc(50% - 369px);
  width: 198px;
  height: 100px;
  font-size: 36px;
  color: #9c59f5;
}

.login,
.main,
.title {
  overflow: hidden;
}

.main {
  position: absolute;
  top: calc(50% - 227px);
  left: calc(50% - 450px);
  width: 1000px;
  height: 499px;
}

.login {
  position: relative;
  background-color: #aaa;
  width: 100%;
  height: 100vh;
  text-align: left;
  font-size: 20px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
